.event-details{
  display: flex;
}
.sub-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sub-details.signalement{
      align-items: flex-end;
}
.event-details > *{
  padding-right: 10px;
}
ion-badge{
  margin-bottom: 10px;
  padding: 10px;
}
.category-sorties{
  background: blue;
}
.category-sport {
  background: orange;
}
.category-kids {
  background: green;
}

ion-item-divider {
  // --background: #403f3f;
  --color: #grey;

  --padding-top: 10px;
  --padding-bottom: 10px;
  --padding-start: 20px;
  --padding-end: 20px;
}
