<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ title | uppercase}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text='Retour' defaultHref='home-page'>
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>{{ title | uppercase}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-leaflet-map></app-leaflet-map>


<app-ion-fab-icons *ngIf='!errorMsg' iconName='list-outline' (clicked)='onIconClicked()'></app-ion-fab-icons>


</ion-content>
