<!-- <div class='grid-categories'>
    <div class='col-tab' *ngFor='let cat of datas'>
      <a [routerLink]="['/',cat.slug]" replaceUrl="true">{{cat.name}}</a>

    </div>
</div> -->

<!-- utilisé pour les categories dans la home-page -->


<!-- CODE POUR LE DRAG AND DROP -->
<!-- <ion-grid *ngIf='mainDatas'>
  <ion-row cdkDropList (cdkDropListDropped)="drop($event)">
       <ion-col
       cdkDrag
       class='col-tab' size='4' *ngFor='let cat of mainDatas; let i = index'
      [style.background-color]="categoryColors[i % categoryColors.length]"> -->
      <!-- <a [routerLink]=" cat.url ? ['/', cat.url] : ['/',cat.slug] " replaceUrl="true">{{cat.name}}</a> -->
      <!-- <a (click)='onCatNavigate(cat)'>{{cat.name}}</a>
    </ion-col>


  </ion-row>
</ion-grid> -->


<ion-grid *ngIf='mainDatas'>
  <ion-row>
    <ion-col class='col-tab' size='4' *ngFor='let cat of mainDatas; let i = index'
      [style.background-color]="categoryColors[i % categoryColors.length]">
      <!-- <a [routerLink]=" cat.url ? ['/', cat.url] : ['/',cat.slug] " replaceUrl="true">{{cat.name}}</a> -->
      <a (click)='onCatNavigate(cat)'>{{cat.name}}</a>
    </ion-col>


  </ion-row>
</ion-grid>



<!-- utilisé pour les sous-categories par exemple carte d'identite-->
<ion-grid *ngIf='categoryDatas'>
<ion-row>
  <ion-col class='col-tab' size='12' *ngFor='let cat of categoryDatas; let i = index' [style.background-color]="categoryColors[i % categoryColors.length]">
    <a [routerLink]="[cat.slug]" replaceUrl="true" >
      {{cat.name}}
    </a>
  </ion-col>
</ion-row>
</ion-grid>


