.col-tab {
  display: flex;
  background-color: var(--dark-green);
  border: solid 2px #fff;
  text-align: center;
  color: white;
  height: 6rem;
  align-items: center;
  justify-content: center;
  width: 30%;
  font-weight: 900;
  border-radius: 10px;
}
a{
  text-decoration: none;
  color: white;
}
.grid-categories{
  margin: 10px;
}
