.col-tab {
  display: flex;
  background-color: var(--dark-green);
  border: solid 2px #fff;
  text-align: center;
  color: white;
  height: 6rem;
  align-items: center;
  justify-content: center;
  width: 120px;
  font-weight: 900;
  border-radius: 10px;
}
a{
  text-decoration: none;
  color: white;
}

.custom-list {
  display: flex;
  flex-wrap: wrap;
}

.col-tab2 {
  flex: 1;
  /* Each item takes one-third of the available space */
  //max-width: calc(33.33% - 20px);
  /* Adjust as needed to account for margins or padding */
  box-sizing: border-box;
  /* Ensure the padding and borders are included in the width */
  padding: 10px;
  /* Adjust as needed */
}
.cat-display{
  display: flex;
  flex-direction: column;
}
.cat-display a{
  font-size: 12px;
}
