<ion-header [translucent]="true">
  <ion-toolbar [color]='colorToolbar'>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">modal</ion-title>
    </ion-toolbar>
  </ion-header> -->
<ion-card *ngIf='marker'>
  <ion-card-header >
    <ion-card-title>{{marker.markerOptions?.title}}</ion-card-title>
    <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
  </ion-card-header>

  <ion-card-content>
    <p>Date début : {{marker.markerOptions?.date_debut | dateFormat }}</p>
    <p>Date fin : {{marker.markerOptions?.date_fin | dateFormat}}</p>
  </ion-card-content>
</ion-card>

<ng-container *ngIf='placesToShop'>
  <ion-card *ngFor='let place of placesToShop' >
    <ion-card-header>
      <ion-card-title>{{place.title.rendered}}</ion-card-title>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
    </ion-card-header>

    <ion-card-content>
      <p>{{place.acf.addresse?.address}}</p>
      <h4>
        <span>
            <app-icon icon='globe-outline'></app-icon>
        </span>
        <a [href]='place.acf.site_internet'>{{place.acf.site_internet}}</a>
      </h4>
      <h3>
        <span>
          <app-icon icon='call-outline'></app-icon>
        </span>
        <a [href]="'tel:+' + place.acf.telephone">{{place.acf.telephone}}</a>
      </h3>
      <h3>
        Horaires:
        <div [innerHtml]="place.acf.horaires">

        </div>
      </h3>
    </ion-card-content>
  </ion-card>
</ng-container>

<ng-container *ngIf='placesToVisit'>
  <ion-card *ngFor='let place of placesToVisit'>
    <ion-card-header>
      <ion-card-title [innerHtml]="place.title.rendered"></ion-card-title>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
    </ion-card-header>

    <ion-card-content>
      <p>{{place.acf.addresse?.address}}</p>
      <!-- <h4>
        <span>
          <app-icon icon='globe-outline'></app-icon>
        </span>
        <a [href]='place.acf.site_internet'>{{place.acf.site_internet}}</a>
      </h4> -->
      <h3 *ngIf='place.acf.enregistrement'>
        <!-- <span>
          <app-icon icon='recording-outline'></app-icon>
        </span> -->

        <audio controls [src]="place.acf.enregistrement"></audio>
      </h3>
      <!-- <h3>
        Horaires:
        <div [innerHtml]="place.acf.horaires">

        </div>
      </h3> -->
    </ion-card-content>
  </ion-card>
</ng-container>

<!-- ajouter icone devant internet + tel
et offre speciale ???? -->





<!-- modal -->



