<app-header title='Rechercher'></app-header>
<ion-content>
  <app-search-input (submitted)='onSubmit($event)'></app-search-input>

  <ng-container *ngIf='returnedValue'>

    <app-list [savedData]='returnedValue' [hightLightTerm]='searchValue'></app-list>
  </ng-container>

    <ng-container *ngIf='returnedEvents'>

      <app-list [savedData]='returnedEvents' [hightLightTerm]='searchValue'></app-list>
    </ng-container>

    <ng-container *ngIf='returnedEvents?.length === 0 && returnedValue?.length === 0 && noAnswer'>
      <app-explore-container>
        <h3>Désolé, aucun résultat ne correspond à la recherche <i>{{searchValue}}</i></h3>
        <!-- <app-icon icon='help-outline' size='large'></app-icon> -->
      </app-explore-container>
    </ng-container>
</ion-content>
