// swiper-container{
//   //width: 100%;
//   //height: 100%;
// }
// swiper-slide{
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center
// }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 32, 32, 0.80);
  /* White with 70% opacity */
  pointer-events: none;
  /* Allows interaction with content beneath the overlay */
}
ion-card-title, ion-card-content{
  color: rgb(255, 255, 255);
}
ion-button{
  padding-inline: 20px;
  padding-top: 16px;
  padding-bottom: 16px;
}
