
<ion-content >


    <swiper-container
    (slidechange)='swiperSlideChange($event)'
    [loop]='true'
    [pagination]='true'
    [autoHeight]='false'
    >
      <swiper-slide *ngFor='let data of datas'>



<ion-card [ngStyle]="{
  'background-image': 'url(' + data.featuredImage.imageUrl + ')', 'background-size': 'cover',
  'background-position': 'center',
  'background-repeat': 'no-repeat'}"
>
            <div class="overlay"></div>
            <!-- <img [alt]="data.featuredImage.title" [src]="data.featuredImage.imageUrl" /> -->
            <div>
              <ion-card-header>
                <ion-card-title [innerHtml]="data.title"></ion-card-title>

              </ion-card-header>

            <!-- <ion-card-content [innerHtml]="(data.content| slice:0:120) + '...'"> -->

            <!-- </ion-card-content> -->
            <ion-button (click)='onReadMore(data)'>+</ion-button>
            </div>

          </ion-card>
      </swiper-slide>
    </swiper-container>
</ion-content>

<!-- solution à tester : utiliser ng-content -->
