ion-content ion-header {
  background-color: var(--text-light-green) !important;
}

ion-toolbar {
  background-color: var(--text-light-green) !important;
}

ion-header img {
  height: 100px;
}

.toolbar-content {
  background: var(--text-light-green) !important;
}
