<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ title | uppercase}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text='Retour' defaultHref='home-page'>
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>{{ title | uppercase}}</ion-title>
    </ion-toolbar>
  </ion-header>

<ng-container *ngIf="(events$ | async) as response">
  <div *ngIf="response.events && response.events.length">


    <ion-card *ngFor='let fav of response.events; let i = index'>
      <ion-card-header>
        <ion-card-title>{{fav.title}}</ion-card-title>

      </ion-card-header>

      <ion-card-content>
        <ion-badge slot="start" appCategory [cat]='fav.categories[0]?.name'>{{fav.categories[0]?.name}}</ion-badge>
        <div class='event-details'>
          <app-icon icon='location-outline'></app-icon>
          <h3>{{fav.venue.address}}</h3>
        </div>
        <div class='sub-details'>
          <div class='event-details'>
            <app-icon icon='calendar-outline'></app-icon>
            <h3>
              <ion-card-subtitle>
                début : {{fav.start_date_details.day}}
                {{fav.start_date_details.month}}
                {{fav.start_date_details.year}}
              </ion-card-subtitle>
              <ion-card-subtitle>
                fin : {{fav.end_date_details.day}}
                {{fav.end_date_details.month}}
                {{fav.end_date_details.year}}
              </ion-card-subtitle>
            </h3>
          </div>
          <!-- <app-icon icon='trash-outline' sizeIcon='small' (click)='onDelete(fav)'></app-icon> -->

            <app-icon icon='add-circle-outline' (click)='onReadMore(fav.id)' color ="dark" sizeIcon='large'></app-icon>

        </div>

      </ion-card-content>
    </ion-card>


  </div>
  <div *ngIf="!response.events || response.events.length === 0">
    <!-- Handle no events scenario -->
    <p>Aucun événement en ce moment !</p>
  </div>












</ng-container>
</ion-content>



