<ion-header >
  <ion-toolbar>
    <ion-title>Actualité</ion-title>
  <ion-buttons slot="start">
    <ion-back-button text='Retour' defaultHref='actus'>
    </ion-back-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">vue-post-details</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-card *ngIf='data'>
    <img [alt]="data.featuredImage.title" [src]="data.featuredImage.imageUrl" />
      <ion-card-header>
        <ion-card-title [innerHtml]="data.title"></ion-card-title>

      </ion-card-header>

      <ion-card-content [innerHtml]="data.content">

      </ion-card-content>

    </ion-card>

    <app-skeleton *ngIf='!data'></app-skeleton>




</ion-content>
