<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{this.title}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text='Retour' defaultHref='agenda'>
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>{{this.title}}</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-card *ngIf='event'>
  <img [alt]="event.title" [src]="event.image.url" />
  <ion-card-header class='ion-title-flex-display'>
    <ion-card-title [innerHtml]="event.title"></ion-card-title>
    <app-icon icon='bookmarks-outline'  (click)='onSave(event)' [ngClass]="{'color': event.saved}"></app-icon>
    <!-- <app-icon *ngIf='event.saved' icon='bookmarks' sizeIcon='small' (click)='onUpdate(event)'></app-icon> -->

  </ion-card-header>


     <ion-card-content [innerHtml]="event.description">

  </ion-card-content>






</ion-card>
</ion-content>
