
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home-page">
        <app-icon icon="home-outline" sizeIcon='small'></app-icon>
        Accueil
      </ion-tab-button>
      <ion-tab-button tab="favoris">
        <app-icon icon="bookmarks-outline" sizeIcon='small'></app-icon>
        Favoris
      </ion-tab-button>
      <ion-tab-button tab="settings">
        <app-icon icon="settings-outline" sizeIcon='small'></app-icon>
        Réglages
      </ion-tab-button>
      <ion-tab-button tab="rechercher">
        <app-icon icon="search-outline" sizeIcon='small'></app-icon>
        Rechercher
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

