
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home-page">
        <app-icon icon="home-outline" sizeIcon='large'></app-icon>
        Accueil
      </ion-tab-button>
      <ion-tab-button tab="favoris">
        <app-icon icon="bookmarks-outline" sizeIcon='large'></app-icon>
        Favoris
      </ion-tab-button>
      <ion-tab-button tab="settings">
        <app-icon icon="settings-outline" sizeIcon='large'></app-icon>
        Réglages
      </ion-tab-button>
      <!-- <ion-tab-button tab="search">
        <app-icon icon="search"></app-icon>
        Search
      </ion-tab-button> -->
    </ion-tab-bar>
  </ion-tabs>

